@import "tailwindcss";

.playfair_font {
  font-family: var(--font-heading) !important;
}
.inter_font {
  font-family: var(--font-body) !important;
}
@utility centred {
  @apply flex items-center justify-center;
}
body {
  overflow-x: hidden;
}